# .gitignore
.*
*~

*.class
*.exe
*.log
*.o
*.obj
*.out
*.s
*.sh
*.srec

a.out
cmake-build-debug
fs/Debug/
include/*.c
include/srec/*.srec
include/srec/*.verbose
kdbg.py
makedisk
Makefile.bak
tools/kdbg_srec/*.kdbg

RexSimulator.dll
RexSimulatorGui.exe

!.gitignore
!include/srec.gitkeep
!jOS/kwramp.s
!jOS/limits/limits_head.s
!jOS/limits/limits_tail.s
!lib/gen/ucontext.s
!lib/syscall/__sigreturn.s
!lib/syscall/debug.s
!lib/syscall/variadic_syscall.s
!lib/syscall/vfork.s
!lib/syscall/wramp_syscall.s
!tools/kdgb.py
!tools/kdbg_srec/*.kdbg

